.toasts-container {
    position: absolute;
    top: 14px;
    right: 20px;
    z-index: 1500;
    height: min-content;
    width: auto;
}

.toast {
    position: relative;
    font-size: 0.875rem;
    color: #ffffff;
    background-color: #313131;
    border-radius: 4px;
    line-height: 1.43;
    margin: 6px 0;
    padding: 14px 28px 14px 16px;
}

.toast__label {
    display: flex;
    align-items: center;
}

.toast__success {
    background-color: #43a047;
    color: #ffffff;
}

.toast__info {
    background-color: #2196f3;
    color: #ffffff;
}

.toast__warning {
    background-color: #ff9800;
    color: #ffffff;
}

.toast__error {
    background-color: #d32f2f;
    color: #ffffff;
}

.toast__close-btn {
    position: absolute;
    width: 16px;
    right: 8px;
    top: 8px;
    fill: #ffffff;
}

.toast__close-btn:hover {
    transform: scale(1.15);
}

.toast_icon {
    width: 20px;
    fill: #ffffff;
    margin-right: 5px;
}

.toast-enter {
    right: -120%;
    transition: all 500ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.toast-enter-active {
    right: 0;
}

.toast-exit {
    right: 0;
}

.toast-exit-active {
    right: -120%;
    transition: all 500ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
