:root {
  --primary-bright-color: #308291;
  --header-height: 56px;
  --dark-gray: #767676;
  --controls-color: #c6c6c6;
}

.App {
  text-align: center;
}

main {
  margin-top: var(--header-height);
}