:root {
  --primary-bright-color: #308291;
  --header-height: 56px;
  --dark-gray: #767676;
  --controls-color: #c6c6c6;
}

.App {
  text-align: center;
}

main {
  margin-top: var(--header-height);
}

button {
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 14px;
}
