@import "../../styles/constants";

@mixin fully-colored {
    stroke: $primary-bright-color;
    fill: $primary-bright-color;
}

.WishlistIcon {
    stroke: black;

    &:hover {
        @include fully-colored;

        &.WishlistIcon_isClicked {
            fill: none;
            stroke: black;

            &.WishlistIcon_isActive {
                @include fully-colored;
            }
        }
    }

    &_isActive {
        @include fully-colored;
    }

    &_isClicked {
        animation: pulse 1s 0s;
    }

    height: 24px;
    min-width: 24px;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    35% {
        transform: scale(0.85);
        animation-timing-function: ease-in;
    }
    65% {
        transform: scale(1.1);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}
