.WishlistIcon {
    stroke: black;

    &:hover {
        stroke: var(--primary-bright-color);
        fill: var(--primary-bright-color);
    }

    &_isActive {
        fill: var(--primary-bright-color);
        stroke: var(--primary-bright-color);

        &:hover {
            fill: none;
            stroke: black;
        }
    }

    &_isClicked {
        animation: pulse 1s 0s;
    }

    height: 24px;
    min-width: 24px;
    cursor: pointer;
}

@keyframes pulse {
    0% { -webkit-transform: scale(1); -webkit-animation-timing-function: ease-out; }
    50% { -webkit-transform: scale(1.2); -webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: scale(1); -webkit-animation-timing-function: ease-out; }
}
