.PropertyCard {
    width: 100%;
    display: flex;
    border: 1px solid var(--controls-color);
    margin: 15px 20px;
    height: 315px;
    cursor: pointer;
    border-radius: 5px;

    &-CarouselImg {
        width: 100%;
        object-fit: cover;
    }

    &-Data {
        margin: 15px;
        text-align: left;
        width: 100%;
        position: relative;
    }

    &-Price {
        margin: 0;
        font-family: 'Gilroy-Bold', sans-serif;
    }

    &-Amenities {
        display: flex;
        color: var(--dark-gray);

        .BedroomIcon {
            margin-right: 10px;
        }

        .BathroomIcon {
            margin: 0 10px 0 18px;
        }
    }

    &-Title {
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 10px;
    }

    &-Address {
        color: var(--dark-gray);
        margin: 0;
        font-size: 14px;
    }
}


