@mixin mobile {
    @media (max-width: 810px) {
        @content;
    }
}

.ContactUs {
    background-color: var(--perfect-salmon-color);
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 34%;
    box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 10;
    height: fit-content;
    min-width: 300px;
    max-width: 500px;
    margin-bottom: 30px;

    @include mobile {
        width: 87%;
        position: static;
        margin: 30px 0;
    }

    input {
        margin-top: 20px;
        font-family: 'Relative-Faux', sans-serif;
        letter-spacing: 0.05em;

        &::placeholder {
            color: darkslategray;
        }
    }

    button {
        background-color: var(--primary-bright-color);
        color: var(--pale-yellow-color);
        font-weight: 600;
        letter-spacing: 0.05em;
        font-size: 16px;
        margin-top: 24px;
        height: 48px;
    }

    h2 {
        margin: 0;
    }
}