.ChevronIcon {
    fill: black;
    cursor: pointer;

    &_left {
        transform: rotate(180deg);
    }

    &_bottom {
        transform: rotate(90deg);
    }

    &_top {
        transform: rotate(-90deg);
    }
}
