$primary-bright-color: #308291;
$accent-color: #ffb3aa;
$complementary-light-color: #eae1cf;
$complementary-dark-color: #262637;
$complementary-semi-dark-color: lighten($complementary-dark-color, 5%);
$complementary-bright-color: #0056b3;

$dark-muted-color: #313131;
$semi-dark-muted-color: #4d4d4d;
$muted-color: #767676;
$light-muted-color: #c6c6c6;
$extra-light-muted-color: #efefef;

$placeholder-dark-color: darken($light-muted-color, 7%);
$placeholder-light-color: $extra-light-muted-color;

$validation-error-color: darkred;
$warning-color: #b06d01;
$success-dark-color: #072521;
$success-light-color: #c1e2bc;

$header-height: 56px;
