.Select  {
    position: relative;
    width: min-content;

    select {
        font-size: 16px;
        border-radius: 5px;
        outline: none;
        font-weight: 500;
        appearance: none;
        letter-spacing: 0.05em;
        color: black;

        + .ChevronIcon {
            position: absolute;
            right: 10px;
            top: 13px;
        }
    }
}
