@import '../../styles/constants';

.GenericMessage {
    padding: 20px 30px;
    border: 2px solid $primary-bright-color;
    width: fit-content;
    margin: calc(#{$header-height} + 24px) auto 0;
    border-radius: 20px;
}
