@mixin mobile {
    @media (max-width: 810px) {
        @content;
    }
}

.Properties-List {
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    height: 100%;

    @include mobile {
        width: 100vw;
        height: 50vw;
    }
}
