.Properties-List {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    height: 100%;
}

.property {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 40px;
    scroll-snap-align: start;
}
