#list-items {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    scroll-snap-type: y proximity;
}

.property {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 40px;
    scroll-snap-align: start;
}

img {
    width: 100%;
}