.HomePage {
    background-color: #d0d4d4;

    &-Bottom {
        display: flex;
        margin-top: 120px;
        height: 450px;
        padding: 0 70px 120px 70px;
        position: relative;
        z-index: 5;
    }

    .PuddleShape{
        position: absolute;
        left: 80px;
        width: 750px;
        z-index: 0;
        top: -330px;
    }
}

.TopBanner {
    background-image: url('midBanner.png');
    height: 400px;
    background-repeat: no-repeat;
    background-position: 0 80%;
    background-size: cover;
}

.MidBanner {
    background-image: url('img.png');
    height: 500px;
    width: 60%;
    background-repeat: no-repeat;
    background-position: 0 80%;
    background-size: cover;
    z-index: 10;
}

.Banner3 {
    background-image: url('plants.png');
    height: 550px;
    width: 63%;
    background-repeat: no-repeat;
    background-position: 0 80%;
    background-size: cover;
    margin-left: auto;
    margin-right: 0;
}