@mixin mobile {
    @media (max-width: 810px) {
        @content;
    }
}

.HomePage {
    background-color: #d0d4d4;
    overflow-x: hidden;

    &-Bottom {
        display: flex;
        margin-top: 120px;
        height: 620px;
        padding: 0 70px 120px 70px;
        position: relative;
        z-index: 5;

        @include mobile {
            display: flex;
            flex-direction: column;
            padding: 0;
            align-items: center;
            height: auto;
        }
    }

    .PuddleShape {
        position: absolute;
        left: 80px;
        width: 750px;
        z-index: 0;
        top: -330px;
    }
}
