@import "../../styles/constants";

.Carousel {
    position: relative;
    overflow: hidden;

    &-DotIcon {
        font-size: 8px;
        color: $controls-color;
        padding: 5px 3px;
        cursor: pointer;

        &_Active {
            color: $primary-bright-color;
        }
    }

    &-Nav {
        text-align: center;
        position: absolute;
        bottom: -10px;
        z-index: 5;
        left: 0;
        right: 0;

        &_Inner {
            bottom: 10px;
        }
    }

    &-Top {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-Arrow {
        position: absolute;
        top: 50%;
        font-size: 24px;
        color: $controls-color;
        cursor: pointer;
        padding: 5px;
        z-index: 5;
        transform: translateY(-50%);

        &_InnerRight {
            right: 10px;
        }

        &_InnerLeft {
            left: 10px;
        }

        &_Disabled {
            display: none;
        }
    }

    &-Item {
        width: inherit;
        height: inherit;

    }

    &-Items {
        display: flex;
        position: relative;
    }
}
