@import "../../styles/constants";

.Login {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;

    button {
        background-color: $primary-bright-color;
        color: white;
        margin-top: 15px;
    }

    .RegistrationLink {
        margin: {
            top: 15px;
            left: 10px;
        }
        font-family: "Gilroy-Bold", sans-serif;
        color: $primary-bright-color;
    }

    .NotRegistered {
        font-weight: 500;
    }
}
