.MultiPreview {
    display: grid;
    grid-template-areas: 'first second'
                            'first third';
    height: 500px;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    margin: auto;
    grid-gap: 15px;
}

.PreviewImage1 {
    grid-area: first;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.PreviewImage2 {
    grid-area: second;
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.PreviewImage3 {
    grid-area: third;
    object-fit: cover;
    height: 250px;
    width: 100%;
}