.AdvancedSearch {
  &-Buttons {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px 25px;
    order: 1;

    button {
      flex: 1;
      height: 44px;
      font-size: 16px;

      &:hover {
        background-color: white;
      }

      &:not(:last-child){
        margin-right: 20px;
      }
    }
  }

  &-Search {
    background-color: var(--primary-bright-color);
    color: white;
  }
}