@mixin mobile {
    @media (max-width: 810px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

.Property {
    &-Container {
        width: 100%;
    }

    &-Price {
        text-align: left;
    }

    &-Title {
        text-align: left;
        font-size: 18px;
        margin: 10px 0;
        font-weight: 600;
    }

    &-Information {
        width: 80%;
        margin: auto;
        padding-top: 20px;

        @include mobile {
            padding: 0 30px;
            width: 100%;
        }
    }

    &-Address {
        color: var(--dark-gray);
        margin: 0;
        font-size: 18px;
        text-align: left;
    }

    &-Description {
        text-align: justify;
    }

    &-CarouselImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-ImageContainer {
        height: 100%;
    }

    &-Summary {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .WishlistToggle-Label {
            //display: none;
        }
    }

    &-NavigateBack {
        font-family: 'Gilroy-Bold', sans-serif;
        color: var(--primary-bright-color);
        font-size: 15px;
        padding-top: 16px;
        text-align: left;
        width: 80%;
        margin: auto;
        cursor: pointer;

        i {
            margin-right: 13px;
        }
    }
}