@import "../../styles/mixins";

.WishlistCard {
     &-Wrapper {
         border: 2px solid var(--primary-bright-color);
         margin: 15px;
         padding: 10px;
         position: relative;
         cursor: pointer;
         border-radius: 3px;
     }

    &-Remove {
        position: absolute;
        top: 7px;
        right: 7px;
    }

    &-Image {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }

    &-Price {
        margin: 10px 0;
    }

    &-Title {
        margin: 10px 0;
    }

    &-Description {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        min-height: 58px;
        max-height: 72px;
    }
}
