.WishlistCard {
     &-Wrapper {
       border: 2px solid var(--primary-bright-color);
         margin: 20px;
         padding: 20px;
         position: relative;
         cursor: pointer;
     }

    &-Remove {
        position: absolute;
        top: 0;
        right: 15px;
    }
 }