@mixin mobile {
    @media (max-width: 810px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 811px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

.WishlistCard {
     &-Wrapper {
         border: 2px solid var(--primary-bright-color);
         margin: 15px;
         padding: 10px;
         position: relative;
         cursor: pointer;
         border-radius: 3px;
     }

    &-Remove {
        position: absolute;
        top: 7px;
        right: 7px;
    }

    &-Image {
        width: 100%;
        height: 65vw;
        object-fit: cover;

        @include tablet {
            height: 35vw;
        }

        @include desktop {
            height: 17vw;
        }
    }

    &-Price {
        margin: 10px 0;
    }

    &-Title {
        margin: 10px 0;
    }

    &-Description {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        min-height: 58px;
    }
 }