@import "../../styles/mixins";

.WishlistLoader {
    &-Properties {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    }

    &-Container {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    &-Image {
        width: 100%;
        aspect-ratio: 4 / 3;
    }
}
