body {
  margin: 0;

  font-family: 'Gilroy', 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Light.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./fonts/Gilroy-ExtraBold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Relative-Faux';
  src: url('./fonts/relative-faux.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Relative-Book';
  src: url('./fonts/relative-book.woff2');
  font-weight: normal;
}