@mixin mobile {
  @media (max-width: 810px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 811px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

.Header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--primary-bright-color);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  box-shadow: 11px 11px 25px rgba(9, 7, 37, 0.06);

  &-HomeLink {
    height: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    margin-right: 12px;

    @include mobile {
      margin-right: auto;
    }

    &:link {
      text-decoration: none;
    }
  }

  &-Logo {
    height: 26px;
    object-fit: contain;

    &Title {
      font-family: 'Relative-Faux', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: white;
      font-weight: 700;
      width: min-content;
      font-size: 7px;
      text-align: center;
      margin: 0;
    }
  }

  .Actions {
    margin-right: 20px;
    display: flex;
    align-items: center;
    order: 3;

    @include tablet {
      margin-left: auto;
    }
  }

  .AuthButton {
    margin-left: 15px;

    &:hover {
      background-color: white;
    }
  }

  &-Filter {
    margin-left: auto;
    margin-right: 12px;
  }

  .WishlistIcon {
    fill: #efefef;
    stroke: #efefef;
    width: 28px;
    height: 32px;

    &:hover {
      fill: white;
      stroke: white;
    }

    &-Container {
      height: 32px;
    }
  }

  .Select {
    margin-right: 12px;

    select {
      font-size: 14px;
      padding: 10px 30px 10px 10px;
      line-height: 18px;

      & + .ChevronIcon {
        top: 12px;
      }
    }
  }
}
