header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--primary-bright-color);
  z-index: 100;

  .AuthButton {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.05em;

    &:hover {
      background-color: white;
    }
  }
}
