.SearchResults {
    &-Count {
        background-color: var(--primary-bright-color);
        padding: 5px 10px;
        z-index: 4000;
        border-radius: 22px;
        color: white;
        font-weight: 600;
        letter-spacing: 0.08em;
        font-size: 13px;
        position: absolute;
        right: 16px;
        top: 56px;
    }
}

.container {
    height: calc(100vh - 50px);
    display: flex;
}

.pane {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.left {
    align-items: center;
    width: 60%;
    justify-content: center;
}

.right {
    justify-content: space-between;
    width: 40%;
}
