.WishlistToggle {
    &-Container {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    &-Label {
        margin: 0 0 0 10px;
        letter-spacing: 0.05em;
        font-size: 14px;
        font-weight: 500;
        width: 45px;
    }

    &-Heart {
        margin: 0;
    }
}