.Register {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;

    button {
        margin-top: 15px;
        background-color: var(--primary-bright-color);
        color: white;
    }

    .LoginLink {
        margin-top: 15px;
        margin-left: 10px;
        font-family: "Gilroy-Bold", sans-serif;
        color: var(--primary-bright-color);
    }

    .AlreadyRegistered {
        font-weight: 500;
    }
}
