@import "../../styles/constants";

.PageLink {
  border-radius: 50%;
  background-color: $controls-color;
  margin: 10px 7px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;

  &_isCurrent {
    color: white;
    background-color: $primary-bright-color;
  }
}
